
.transaction {
  width: 100%;
}

.transaction-list-navigation {
  width: 100%;
  padding: 2px 2px 0px 2px;
}

.month-navigation {
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  background: #C8D4D4;
  padding: 2px;
}

#prev-month {
  float: left;
}

#next-month {
  float: right;
}

#title {
  display: inline-block;
  font-size: 22px;
  padding-left: 12px;
  padding-right: 12px;
  border-right: 1px solid #9999BB;
  padding-top: 6px;
  padding-bottom: 6px;
}

#current-month {
  display: inline-block;
  font-size: 22px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
}

.transaction > table {
  width: 100%;
  border-spacing: 2px;
  border-collapse: separate;
}

.transaction > table > tbody > tr > td {
  background: #E1E0F2;
  padding: 4px;
}

.transaction > table > tbody > tr > td.date {
  font-size: 14pt;
  width: 15%;
  text-align: center;
}

.transaction > table > tbody > tr > td.name {
  font-size: 12pt;
  text-align: left;
}

.transaction > table > tbody > tr > td.amount {
  font-size: 14pt;
  width: 15%;
  text-align: right;
  padding-right: 10px;
}

.transaction > table > tbody > tr > td.balance {
  font-size: 12pt;
  width: 12%;
  text-align: right;
  padding-right: 10px;
}
